.entry {
  padding-bottom: 25px;
}
.entry > h2:hover > a > .glyphicon {
  display: inline-block;
}
.entry > h2 > a {
  color: #333;
  margin-right: 10px;
  text-decoration: none;
}
.entry > h2 > a > .glyphicon {
  display: none;
  font-size: 0.8em;
  margin-right: -10px;
}
.thumbnail {
  max-width: 100%;
}
.entry-photos-container {
  height: 325px;
}
.entry-photos-container .item > img {
  height: 325px;
  margin: 0 auto;
}
.entry-photos-container .right,
.entry-photos-container .left {
  background: none;
}
.entry-photos-container .carousel-control {
  color: #000;
}

.entry {
  padding-bottom: 25px;
}
.entry > h2:hover > a > .glyphicon {
  display: inline-block;
}
.entry > h2 > a {
  color: #333;
  margin-right: 10px;
  text-decoration: none;
}
.entry > h2 > a > .glyphicon {
  display: none;
  font-size: 0.8em;
  margin-right: -10px;
}
.thumbnail {
  max-width: 100%;
}
.entry-photos-container {
  height: 325px;
}
.entry-photos-container .item > img {
  height: 325px;
  margin: 0 auto;
}
.entry-photos-container .right,
.entry-photos-container .left {
  background: none;
}
.entry-photos-container .carousel-control {
  color: #000;
}
#post {
  height: 500px;
}
.preview-container {
  height: 500px;
  margin-top: 15px;
}
#preview {
  height: 500px;
  overflow: auto;
}
.photo-list-container {
  text-align: center;
}
.photo-list {
  display: inline-block;
}
.photo-list .photo-list-item {
  display: inline;
}
.photo-list .photo-list-item img {
  width: 200px;
}
.photo-list .photo-list-item .glyphicon {
  vertical-align: top;
  cursor: pointer;
}
.review-header {
  height: 50px;
}
.review-content {
  height: 500px;
  padding: 6px 12px 6px 12px;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}
.thing-search-form {
  padding-bottom: 10px;
}
.thing-search-form > div.form-group {
  display: block;
}
.thing-search-form > div.form-group > span.glyphicon {
  -webkit-animation: spin 1s ease 0s infinite;
  animation: spin 1s ease 0s infinite;
  position: absolute;
  right: 20px;
  top: 9px;
}
#thing-search {
  width: 100%;
}
.thing-list > .thing-list-item > span.glyphicon {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 12px;
}
.thing-tree {
  list-style: none;
}
.thing-tree > .thing-tree-item > .selection-tree {
  padding-left: 0;
}
.thing-tree > .thing-tree-item > .selection-tree > .selection-tree-item {
  list-style: none;
  padding-left: 20px;
}
.thing-tree .glyphicon {
  font-size: 0.75em;
  padding-right: 1px;
  top: 0;
}
.thing-tree .thing-add,
.thing-tree .thing-remove,
.thing-tree .selection-remove {
  cursor: pointer;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#post {
  height: 500px;
}
.preview-container {
  height: 500px;
  margin-top: 15px;
}
#preview {
  height: 500px;
  overflow: auto;
}
.photo-list-container {
  text-align: center;
}
.photo-list {
  display: inline-block;
}
.photo-list .photo-list-item {
  display: inline;
}
.photo-list .photo-list-item img {
  width: 200px;
}
.photo-list .photo-list-item .glyphicon {
  vertical-align: top;
  cursor: pointer;
}

.review-header {
  height: 50px;
}
.review-content {
  height: 500px;
  padding: 6px 12px 6px 12px;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}
.thing-search-form {
  padding-bottom: 10px;
}
.thing-search-form > div.form-group {
  display: block;
}
.thing-search-form > div.form-group > span.glyphicon {
  -webkit-animation: spin 1s ease 0s infinite;
  animation: spin 1s ease 0s infinite;
  position: absolute;
  right: 20px;
  top: 9px;
}
#thing-search {
  width: 100%;
}
.thing-list > .thing-list-item > span.glyphicon {
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 12px;
}
.thing-tree {
  list-style: none;
}
.thing-tree > .thing-tree-item > .selection-tree {
  padding-left: 0;
}
.thing-tree > .thing-tree-item > .selection-tree > .selection-tree-item {
  list-style: none;
  padding-left: 20px;
}
.thing-tree .glyphicon {
  font-size: 0.75em;
  padding-right: 1px;
  top: 0;
}
.thing-tree .thing-add,
.thing-tree .thing-remove,
.thing-tree .selection-remove {
  cursor: pointer;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
