section.entry {
  & > h2 {
    &:hover {
      & > a > .glyphicon {
        display:inline-block;
      }
    }
    & > a {
      & > .glyphicon {
        display:none;
        font-size:0.8em;
        margin-right:-10px;
      }
      color:#333;
      margin-right:10px;
      text-decoration:none;
    }
  }
  padding-bottom:25px;
}

.thumbnail {
  max-width:100%;
}
